footer {
    background-color: #131313;
    margin-top: 80px;
}

footer .row:first-of-type {
    padding: 54px 0 36px 0;
    display: flex;
    justify-content: space-between;
}

footer .row:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

footer hr {
    width: 100%;
    border: 1px solid rgba(240, 125, 44, 0.6);
}

.footer-logo {
    min-height: 64px;
    max-height: 64px;
    cursor: pointer;
}

footer p.slogan {
    margin-top: 8px;
    color: #fff;
}

footer p.ico {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

footer .item.right {
    margin: auto 0;
}

footer .item.right h3.sm-show {
    display: none;
}

footer .item.right ul {
    display: flex;
    gap: 36px;
}

footer .item.right ul li {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    transition: color 0.2s ease-in-out;
}

footer .item.right ul li:hover {
    color: #F07D2C;
}

footer .author span {
    color: #F07D2C;
    font-weight: 600;
}

footer .bottom.row, .copyright {
    color: #fff !important;
}

@media (max-width: 1280px) {
    footer .row {
        display: grid !important;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    footer .item.right h3.sm-show {
        display: initial;
        font-weight: 600;
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    footer .row .item.right ul {
        flex-direction: column;
        margin-top: 12px;
        gap: 22px;
    }

    footer .item.right h3.sm-show {
        display: initial;
        font-weight: 600;
        font-size: 1.3rem;
    }
}