.hero {
    padding-top: 6rem;
    background-image: url('/images/hero-bg.webp');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}

.hero .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5rem !important;
}

.hero h1 {
    font-weight: 700;
}

.hero h1, .hero p {
    text-align: center;
}

.hero p {
    color: #fff;
    margin-top: 12px;
    max-width: 80%;
}

.hero .btns-row {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

@media (max-width: 1536px) {
    .hero .row {
        max-width: 80%;
    }
}

@media (max-width: 1024px) {
    .hero .row {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .hero .row {
        max-width: 100%;
    }
}

@media (max-width: 640px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero p {
        max-width: 100%;
    }
}

/********* ABOUT ME *********/
.about-action {
    padding-top: 80px;
}

.about-action .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 128px;
}

.about-action .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-action .item p {
    max-width: 100%;
}

.about-action .item img {
    max-height: 85%;
}

.about-action .item:last-of-type {
    align-items: flex-end;
}

.about-action p {
    margin-top: 16px;
}

.about-action .btns-row {
    margin-top: 42px;
}

@media (max-width: 1280px) {
    .about-action .row {
        gap: 48px;
    }

    .about-action .item:last-of-type {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .about-action .row {
        grid-template-columns: 1fr;
    }

    .about-action .item:last-of-type {
        width: 100%;
        flex-direction: row;
        margin-bottom: auto;
    }

    .about-action .item img {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .about-action {
        padding-top: 80px;
    }
}

/********* Countdown *********/
.countdown .row{
    display: grid;
    gap: 24px;
    place-items: center;
}

.countdown .location {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    color: #131313;
    font-size: 24px;
}

.countdown .location img {
    max-height: 40px;
}

/********* PROGRAM *********/
.program {
    padding-top: 80px;
}

.program .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 32px;
}

.program .left, .program .right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.program .row .item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #F07D2C;
    min-height: 118px;
    padding: 32px 24px;
}

.program .item.big {
    min-height: calc(118px * 2 + 30px + 22px);
}

.program .item h3, .program .item p {
    color: #fff;
}
.program .item h3 {
    font-weight: 700;
    font-size: 48px;
}
.program .item p {
    font-size: 18px;
}

.program .item-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.program .item-group .item-border {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 2px solid #F07D2C;
    min-height: 118px;
    padding: 24px 16px;
}

@media (max-width: 1024px) {
    .program .row {
        grid-template-columns: 1fr;
    }

    .program .left, .program .right {
        grid-template-columns: 1fr;
    }

    .program .item-group {
        grid-template-columns: 1fr;
    }
}

/********* ABOUT LEPSI MISTO *********/
.about-kratom {
    padding-top: 80px;
}

.about-kratom .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 64px;
}

.about-kratom .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-kratom .item p {
    max-width: 100%;
}

.about-kratom .item img {
    max-height: 80%;
}

.about-kratom .item:last-of-type {
    align-items: flex-end;
}

.about-kratom p {
    margin-top: 16px;
}

.about-kratom .btns-row {
    margin-top: 42px;
}

@media (max-width: 1280px) {
    .about-kratom .row {
        gap: 48px;
    }

    .about-kratom .item:last-of-type {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .about-kratom .row {
        grid-template-columns: 1fr;
    }

    .about-kratom .item:last-of-type {
        width: 100%;
        flex-direction: row;
        margin-bottom: auto;
    }

    .about-kratom .item img {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .about-kratom {
        padding-top: 80px;
    }
}

/********* PARTNERI *********/
.partneri .marquee {
    display: flex;
    align-items: center !important;
    gap: 48px !important;
}

.partneri .marquee div {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 32px;
}

/********* CONTACT *********/
.contact {
    padding-top: 80px;
}